* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clock {
    border: 1px solid rebeccapurple;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19172a;
    position: relative;
   
}
.container {
    display: flex;
   justify-content: center;
   gap: 15px;
   padding: 10px 30px;
   border-radius: 20px;
   box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.2) ;
   position: relative;
   width: 750px;
   height: 250px;
   align-items: center;
   background: rgb(255, 255, 255,0.05);
   border: 1px solid rgb(255, 255, 255, 0.02);
   z-index: 1000;
   backdrop-filter: blue (20px);
  

}
.container h2 {
    font-size: 6rem;
    
    padding: 10px;
    color: aliceblue;
  
}
.container h2:nth-child(odd) {
    background: rgb(255, 255, 255, 0.05);
    border: 1px solid rgb(255, 255, 255, 0.02);
    box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 15px;
}
.container .secund {
    color: yellow;
}

.container span {
    font-size: 30px;
    color: aliceblue;
    position: absolute;
    right: 40px; 
    top: 60px;
}
 section::before{
    content: "";
    width: 250px;
    height: 250px;
    background: linear-gradient(aqua,blue);
    position: absolute;
    border-radius: 10px;
    left: 20%;
    bottom: 10%;
    animation: animate 5s linear infinite;
    animation-delay: 2.5s;
   
    
}
section::after {
    content: "";
    width: 300px;
    height: 300px;
    background: linear-gradient(yellow, red);
    position: absolute;
    border-radius: 10px;
    top: 10%;
    right: 20%;
    animation: animate 5s linear infinite;
    
   

}
@keyframes animate {
    0%,
    100% {
        transform: 20px;
    }
    50% {
        transform: -20px;
    }
}

